.skills {
  font-family: "Poppins", sans-serif;
}

.skills > h1 {
  background: linear-gradient(to right, #ff8660, #d5491d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6rem !important;
}

.skills-list {
  display: grid;
  justify-content: center;
  row-gap: 10rem;
  column-gap: 10rem;
  grid-template-columns: repeat(5, 8rem);
}

.skill-item {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.4s ease-out, transform 0.8s ease-out;
}

.skill-item.in-view {
  opacity: 1;
  transform: translateY(0);
}

.skill-icon {
  width: 100%;
  height: auto;
}

.skill-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #f4f4f4;
}

.progress-bar-bg {
  width: 100%;
  height: 4px;
  background-color: black;
  position: relative;
}

.progress-bar {
  display: block;
  height: 100%;
  width: 0%; /* Initial width */
  transition: width 2s ease-in-out; /* Smooth transition for width */
}
